.header-title {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: flex-end;
}

.page-title {
  font-size: 2.5rem;
  margin: 0px auto;
}

.subtitulo {
  margin-left: 2rem;
  font-size: 2rem;
}

.sections-menu-item {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
}

.sections-menu-item-title {
  order: -1;
}

.sections-menu-item-image {
  max-width: 35%
}

