/* index.html */


.main-header {
  display: flex;
  margin: 2rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
}

.index-title {
}

.index-title-img {
  max-width: 23rem;
  max-height: 16rem;

}


.sections-menu {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.sections-menu-item {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
}

.sections-menu-item-title {
order: -1;
}

.sections-menu-item-image {
max-width: 35%
}
.sections-menu-item-description {
  }






/*


.main-header {
 margin: 8px;
 width: 1080px;
 height: 200px;
 border: double;
 border-width: 3px;
}

.index-title {
  display: inline;  
  position: absolute;
  left: 220px;
  top: 90px;
  text-align: left;
}
.index-title-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height:200px;
}


.sections-menu {
  position: absolute;
  left: 10px;
  top: 280px;
  width: 1024px;
  height: 1024px;
  text-align: left;
}

.sections-menu-item {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 350px;
  margin: 5px;
  background-color: gold;
}

.sections-menu-title {
  display: inline-block;
  position: relative;
  width: 600px;
  background-color: gold;
}

.sections-menu-item-image {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 400px;
  height: 250px;
}

.sections-menu-item-text {
  position: absolute;
  left: 0px;
  top: 265px;
  width: 400px;
  height: 450px;
}

*/