.main {
  font-family: 'Lora', serif, sans-serif;
}

.sections-menu-item-title {
  font-family: 'Montserrat', sans-serif;  
}


.main-header {
  display: flex;
  margin: 2rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
}

.index-title-img {
  max-width: 23rem;
  max-height: 16rem;
}

.sections-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
