/*
#000000 - BLACK
#ffffff - WHITE
#797b80 - GRAY
#d60c07 - RED
#cfaa34 - GOLD
*/

.header-title {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: flex-end;
}

.page-title {
  font-size: 2.5rem;
  margin: 0px auto;
}

.content {
  display: flex;
  flex-flow: row wrap;
  height: 22rem;
  max-width: 75%;
  margin-left:  2rem;
}

.subtitulos {
  font-size: 2rem;
}

.sections-menu-item {
  display: flex;
  flex-flow: row nowrap;
  margin: 2%;
  border-style: solid;
  border-width: 1px;
  justify-content: flex-start;
  max-width: 45%;
  max-height: 10rem;
}

.name {
  font-size: 1.71rem;
}

.sections-menu-item-image {
  height: 100%;
  max-width: 35%;
}

.sections-menu-item-title {
  align-self: center;
}
